/* CSS Document */
.kb-mostexpensive-header {
  background: url('../img/mostexp.png') no-repeat 0 -3px;
  border-bottom: 1px solid #777;
  color: #ccc;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  padding: 0 0 5px 25px;
}

a.mostexplink {
  color: #fff;
  text-decoration: none;
}
  
a.mostexplink:hover {
  text-decoration: underline;
}
