/* CSS Document */
.mostexp-header {
  background: url('img/mostexp.png') no-repeat 0 -3px;
  padding-left: 25px;
}

.mostexp-kill {
  color: #0a0;
}

.mostexp-loss {
  color: #a00;
}

.mostexp-table {
  width: 100%;
}

.mostexp-table td,
.mostexp-table th {
  padding: 0;
}

.mostexp-table-item {
  border-spacing: 0;
  width: 100%;
}

.mostexp-row {
  cursor: pointer;
}

.mostexp-cell-img,
.mostexp-img {
  height: 64px;
  width: 64px;
}

.mostexp-img {
  display: block;
  overflow: hidden;
}

.mostexp-cell-txt {
  height: 32px;
  text-align: center;
}

.mostexp-small {
  font-size: .9em;
}

.mostexp-nullsec {
  color: #ff0000;
}

.mostexp-lowsec {
  color: #ffa500;
}

.mostexp-highsec {
  color: #008000;
}
